
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
    #box{
        max-width: 1920px;
        width: 100%;
    
}
#satauri{
    color: #000;
    font-size: 72px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-align: center;
    margin-top: 48px;
    margin-bottom: 53px;
}
#pirvelip{
    color: #FF8000;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    width: 1220px
}
#meorep{
    max-width: 681px;
    width: 100%;
    color: #D9AE00;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 74px;

}
#mesamep{
    max-width: 681px;
    width: 100%;
    color: #6D81B4;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    margin-left: 74px;


}
#surati{
    max-width: 696px;
    width: 100%;
    margin-left: 74px;
    margin-bottom: 101px;
}
#meorebox{

    background: #FFCEBE;
    padding: 64px;
    margin-top: 101px;
    margin-left: 74px;
    max-width: 1007px;;
    width: 100%;
    
}
#mesamesatauri{
    color: #F44E50;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    max-width: 681px;
    width: 100%;
    
}
#text{
    color: #8B2B2C;
    font-size: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    max-width: 681px;
    width: 100%;
}
#meoresurati{
    max-width: 779px;
    width: 100%;

}
#bolosatauri{
    color: #4716E4;
    text-align: right;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    max-width: 696px;
    width: 100%;
    margin-top: 101px;

    
}
#bolotexti{
    max-width: 648px;
    width: 100%;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    padding: 24px; 
    border: 3px solid #FF5DA3;
    background: #FFC1E3;
    margin-left: 74px;
    margin-top: 24px;
}
#qvesaTauri{
    max-width: 696px;
    width: 100%;
    color: #414651;
    font-size: 24px;
    font-weight: 800;
    padding-left: 74px;
    margin-top: 30px;
    margin-bottom: 16px; 
}
#wertilierti{
    background: #000;
    border-radius: 90px;
    width: 16px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 16px;



}
#pirveli{
    padding-left: 74px;

}

    

#textierti{
    max-width: 668px;
    width: 100%;
    color: #C27512;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block;
    
}
#meore{
    margin-left: 74px;
    margin-bottom: 65px;

}
#wertiliori{
    background: #000;
    border-radius: 90px;
    width: 16px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 16px;
}
#textiori{
    max-width: 668px;
    width: 100%;
    color: #C27512;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block

}
#mesame{
    margin-left: 74px;

}
#wertilisami{
    background: #000;
    border-radius: 90px;
    width: 16px;
    vertical-align: middle;
    display: inline-block;
    padding-top: 16px;
}
#textisami{
    max-width: 668px;
    width: 100%;
    color: #C27512;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    display: inline-block;
}
#bolosurati{
    margin-left: 74px;
}